h1 {
    color: black;
    text-decoration: underline;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    text-transform: uppercase;
    font-weight: b;
    line-height: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

div {
    line-height: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

button {
    line-height: 2;
    color: black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body {
    color: black;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

textarea {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

input[type="Range"] {
    accent-color: black;
}

button:hover {
    background-color: blue;
}

button:active {
    background-color: red;
}

input:checked+label {
    color: red;
}

.abc:hover {
    font-size: 15px;
}

textarea:hover {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#limit:hover {
    accent-color: red;
}

input[type="checkbox"]:checked {
    font-size: 20px;
}

textarea {
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    font-size: 14px;
}


button {
    width: 100px;
    border-radius: 5px;
    border-color: red;
    margin-left: 120px;
}

button:hover {
    font-size: 14px;
}

body {
    background-image: url(vaccine4.jpg)
}

.abc::placeholder {
    color: black;
}

input[type="text"] {
    color: blue;
}

.Form {
    border: 2px solid white;
    width: 350px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: blue;
    font-size: 25px;
}